@{
  Layout="_Layout";
}

@using SweetNSavory.Models
@model SweetNSavory.Models.Treat

<h3>Add a new treat!</h3>
@using (Html.BeginForm())
{
  @Html.LabelFor(model=>model.Name)
  @Html.TextBoxFor(model=>model.Name)

  <input type="submit" value="All Done!" class="btn btn-info">
}

