

<h3>Welcome @User.Identity.Name</h3>

@if(ViewBag.UserTreats.Count == 0)
{
  <li>You haven't added any treats yet.</li>
}
else 
{
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <ul>
        @foreach(var treat in @ViewBag.UserTreats)
        {
          <li>@Html.ActionLink($"{treat.Name}", "Details", new{id=treat.TreatId})</li>
        }
      </ul>
    </div>
  </div>
</div>
}
